In [2]:
#GETTING STARTED WITH NY_DATASET

Data preprocessing

Importing the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
ny_dataset=pd.read_csv("nytrain.csv")
ny_dataset.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [5]:
ny_dataset.describe

<bound method NDFrame.describe of                                     key  fare_amount          pickup_datetime  \
0           2009-06-15 17:26:21.0000001          4.5  2009-06-15 17:26:21 UTC
1           2010-01-05 16:52:16.0000002         16.9  2010-01-05 16:52:16 UTC
2          2011-08-18 00:35:00.00000049          5.7  2011-08-18 00:35:00 UTC
3           2012-04-21 04:30:42.0000001          7.7  2012-04-21 04:30:42 UTC
4         2010-03-09 07:51:00.000000135          5.3  2010-03-09 07:51:00 UTC
...                                 ...          ...                      ...
55423851   2014-03-15 03:28:00.00000070         14.0  2014-03-15 03:28:00 UTC
55423852    2009-03-24 20:46:20.0000002          4.2  2009-03-24 20:46:20 UTC
55423853    2011-04-02 22:04:24.0000004         14.1  2011-04-02 22:04:24 UTC
55423854    2011-10-26 05:57:51.0000002         28.9  2011-10-26 05:57:51 UTC
55423855   2014-12-12 11:33:00.00000015          7.5  2014-12-12 11:33:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
0               -73.844311        40.721319         -73.841610
1               -74.016048        40.711303         -73.979268
2               -73.982738        40.761270         -73.991242
3               -73.987130        40.733143         -73.991567
4               -73.968095        40.768008         -73.956655
...                    ...              ...                ...
55423851        -74.005272        40.740027         -73.963280
55423852        -73.957784        40.765530         -73.951640
55423853        -73.970505        40.752325         -73.960537
55423854        -73.980901        40.764629         -73.870605
55423855        -73.969722        40.797668         -73.970885

          dropoff_latitude  passenger_count
0                40.712278                1
1                40.782004                1
2                40.750562                2
3                40.758092                1
4                40.783762                1
...                    ...              ...
55423851         40.762555                1
55423852         40.773959                1
55423853         40.797342                1
55423854         40.773963                1
55423855         40.783313                1

[55423856 rows x 8 columns]>

In [ ]:
ny_dataset.duplicated().sum()